<div class="place">
  <div class="placeInfo">
    <div class="placeContent">
      <div class="placeDesc">
        <h1>{{ placeData?.title }}</h1>
        <p>{{ placeData?.description }}</p>
      </div>
      <div class="photo">
        <img [src]="apiUrl + '/uploads/' + placeData?.mainImage" alt="">
      </div>
    </div>
    <h2>Gallery</h2>
    <div class="gallery">
      <span  *ngFor="let image of images | async">
        <img
          [src]="apiUrl + '/uploads/' + image.image"
          alt="image"
        >
      </span>
    </div>
  </div>
  <div class="rating"></div>
  <div class="addReview"></div>
  <div class="addPhoto"></div>
</div>
