<div class="place">
  <div class="placeInfo">
    <div class="placeContent">
      <div class="placeDesc">
        <h1>{{ placeData?.title }}</h1>
        <p>{{ placeData?.description }}</p>
      </div>
      <div class="photo">
        <img [src]="apiUrl + '/uploads/' + placeData?.mainImage" alt="">
      </div>
    </div>
    <h2>Gallery</h2>
    <div class="gallery">
      <span *ngFor="let image of images | async">
        <img
          [src]="apiUrl + '/uploads/' + image.image"
          alt="image"
        >
      </span>
    </div>
  </div>

  <div class="rating">
    <div class="ratingContent">
      <h2>Ratings</h2>
      <div class="reviewInfo">
        <div class="stars">
          <div class="starBox">
            <span class="title"><strong>Overall</strong></span>
            <ngb-rating [(rate)]="totalSum">
              <ng-template let-fill="fill" let-index="index">
                <span disabled class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
              </ng-template>
            </ngb-rating>
            <span>{{ totalSum }}</span>
          </div>
          <div class="starBox">
            <span class="title">Quality of food</span>
            <ngb-rating [(rate)]="foodSum">
              <ng-template let-fill="fill" let-index="index">
                <span disabled class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
              </ng-template>
            </ngb-rating>
            <span>{{ foodSum }}</span>
          </div>
          <div class="starBox">
            <span class="title">Service quality</span>
            <ngb-rating [(rate)]="serviceSum">
              <ng-template let-fill="fill" let-index="index">
                <span disabled class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
              </ng-template>
            </ngb-rating>
            <span>{{ serviceSum }}</span>
          </div>
          <div class="starBox">
            <span class="title">Interior</span>
            <ngb-rating [(rate)]="interiorSum">
              <ng-template let-fill="fill" let-index="index">
                <span disabled class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
              </ng-template>
            </ngb-rating>
            <span>{{ interiorSum }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews">
      <h2>Reviews</h2>
      <div *ngFor="let review of reviews | async" class="reviewInfo">
        <p>On {{ review.date }}, <strong>{{ review.user.displayName }}</strong> said: </p>
        <p>{{ review.text }}</p>
        <div class="stars">
          <div class="starBox">
            <span class="title">Quality of food</span>
            <ngb-rating [(rate)]="review.foodRating">
              <ng-template let-fill="fill" let-index="index">
                <span disabled class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
              </ng-template>
            </ngb-rating>
            <span>{{ review.foodRating }}</span>
          </div>
          <div class="starBox">
            <span class="title">Service quality</span>
            <ngb-rating [(rate)]="review.serviceRating">
              <ng-template let-fill="fill" let-index="index">
                <span disabled class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
              </ng-template>
            </ngb-rating>
            <span>{{ review.serviceRating }}</span>
          </div>
          <div class="starBox">
            <span class="title">Interior</span>
            <ngb-rating [(rate)]="review.interiorRating">
              <ng-template let-fill="fill" let-index="index">
                <span disabled class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
              </ng-template>
            </ngb-rating>
            <span>{{ review.interiorRating }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!(user | async)" class="userMenu">
    Please
    <a routerLink="/register">register</a> or
     <a routerLink="/login">login</a> to leave a review
  </div>
  <div *ngIf="user | async" class="formReview">
    <h2>Add review</h2>
    <form (ngSubmit)="addReview()" class="addReview" #formReview='ngForm'>
      <mat-form-field appearance="outline" class="textarea">
        <mat-label>Leave your feedback</mat-label>
        <textarea matInput rows="8" required name="text" ngModel></textarea>
      </mat-form-field>
      <div class="select">
        <mat-form-field appearance="fill">
          <mat-label>Quality of food</mat-label>
          <mat-select  name="foodRating" required ngModel>
            <mat-option
              *ngFor="let number of ratingNumber"
              [value]="number">{{ number }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Service quality</mat-label>
          <mat-select name="serviceRating" required ngModel>
            <mat-option
              *ngFor="let number of ratingNumber"
              [value]="number">{{ number }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Interior</mat-label>
          <mat-select name="interiorRating" required ngModel>
            <mat-option
              *ngFor="let number of ratingNumber"
              [value]="number">{{ number }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button
          type="submit"
          mat-raised-button
          color="warn"
          [disabled]="formReview.invalid"
        >
          Submit review
        </button>
      </div>
    </form>
  </div>
  <div class="addPhoto" *ngIf="user | async">
    <h2>Upload new photo</h2>
    <form (ngSubmit)="addPhoto()" class="addPhoto" #formPhoto='ngForm'>
        <mat-form-field appearance="outline">
          <app-file-input name="image" ngModel required></app-file-input>
        </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="warn"
        [disabled]="formPhoto.invalid"
      >
        Upload
      </button>
    </form>
  </div>
</div>
